body{
    background: black
    
}

h1{
    color: turquoise;
    font-family: "consolas";
    font-style: italic;
    font-weight: bold;
}
.outerbox{
    display:flex;
    background-color: blueviolet;
    justify-content: space-evenly;
    color: white;
    text-decoration: none;
}
.innerbox{
    text-decoration: none;
    text-decoration-color: blue;
}

.fa-github{
    color: red;
    
    
}