body{
    background: black
    
}

h1{
    color: turquoise;
    font-family: "consolas";
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

h2{
    color: turquoise;
    font-family: "consolas";
    font-style: italic;
    font-weight: bold;
}
.outerbox{
    display:flex;
    background-color: blueviolet;
    justify-content: space-evenly;
    color: black;
    text-decoration: none;
    border-radius: 2px;
}
.innerbox{
    text-decoration: none;
    text-decoration-color: blue;
    border-color: white;

}

.fa-github{
    color: red;
    
    
}
.category{
    background-color: greenyellow;
    text-decoration: underline;
}
